path {fill:none;stroke:#000000;stroke-miterlimit:10;}

.rest{stroke-dasharray: 900;
animation: write1 3s infinite linear;}


.L{stroke-dasharray: 900;
animation: write1 3s infinite linear;}

.big-circle{stroke-dasharray: 900;
  animation: write1 3s infinite linear;
}

.c1{stroke-dasharray: 400;
animation: write2 3s infinite linear;}

.c2{stroke-dasharray: 400;
animation: write3 3s infinite linear;}

.c3{stroke-dasharray: 400;
animation: write4 3s infinite linear;}

.c4{stroke-dasharray: 400;
animation: write5 3s infinite linear;}

@keyframes write1 {
    0% {
        stroke-dashoffset: 900;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes write2 {
    0%,20% {
        stroke-dashoffset: 400;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes write3 {
    0%,25% {
        stroke-dashoffset: 400;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes write4 {
    0%,30% {
        stroke-dashoffset: 400;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


@keyframes write5 {
    0%,35% {
        stroke-dashoffset: 400;
    }
    100% {
        stroke-dashoffset: 0;
    }
}